<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8888/CzytelniaHost" binding="basicHttpBinding"
                bindingConfiguration="" contract="Czytelnia.IWCFCzytelniaSerwis"
                name="EndpointCzytelnia" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>
